<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MEGH-Account Created Successfully </title>
    <style>
    body
{
 background-color: lightblue;
 display: flex;
 align-items: center; justify-content: center;
 text-align: center;
 flex-direction: column;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
}
button{
   
    padding: 10px 30px;
    margin: 20px;
    margin-top: 70px;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: bold ;
    cursor: pointer;
    border: black;
    border-radius: 50px;
}
</style>
</head>
<body>
    <h1>Welcome  </h1><br>
 <h3>Your Account Created Successfully</h3><br>
  <div class="container">
  <button type="button">
    <a href="file:///C:/Users/k%20naveen/Desktop/Project%20code(new)/app%20option.html" style="text-decoration: none;" >Go To Registration</a>
  </button><br>
</div>
</body>
</html>